.nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 76px 120px;
    align-items: center;

}

.nav__list {
    display: flex;
    list-style-type: none;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

.nav__link {
    color: #2f281e;
    font-size: 14px;
    text-decoration: none;
    line-height: 29px;
    margin-right: 29px;
}

.nav__btn-container {
    display: flex;
    
}

.nav__btn-signIn {
    height: 46px;
    width: 110px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 15px;

}

.nav__btn-signUp {
height:46px;
width: 110px;
background-color: #FF9900;
color: #ffffff;
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
